.link-edit {
  display: inline-block;
  margin: 5em;
  position: relative;
}

.link-edit:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  bottom: 1.4em;
  color: #fff;
  content: attr(data-title);
  left: 0;
  margin-left: -2.1em;
  padding: 0.3em 1em 0.4em;
  position: absolute;
  min-width: 4em;
  text-align: center;
  z-index: 98;
}

.link-edit:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 0.5em 0.5em 0 0.5em;
  bottom: 1em;
  content: "";
  left: 0.2em;
  position: absolute;
  z-index: 99;
}
