body,html{
    background: #77ddc4; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #77ddc4 0%, #05a2a8 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#77ddc4), color-stop(100%,#05a2a8)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #77ddc4 0%,#05a2a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #77ddc4 0%,#05a2a8 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #77ddc4 0%,#05a2a8 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #77ddc4 0%,#05a2a8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77ddc4', endColorstr='#05a2a8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:100%;
    width:100%;
    font-family: 'Exo 2', sans-serif;
    background: url('http://tinderlight.github.io/mattscode/assets/img/bg.jpg');
    background-position:center center;
    
}
.sidebar{
    width:20%;
    height:100%;
    background: #4D585E;
    box-shadow:1px 0px 10px rgba(0,0,0,.4);
    float:left;
    background-image: url('../img/beaker.png');
    background-repeat: no-repeat;
    background-position:bottom center;
    background-position-x: center;
    background-position-y: 97%;
    background-size: 40%;
    overflow-y:hidden;
    z-index:10;
}
.toggleSidebar{
    background:#4D585E;
    padding:.8em;
    color:#fff;
    position:absolute;
    left:0;
    box-shadow:1px 0px 10px rgba(0,0,0,.4);
    top:10px;
    z-index:20;
}
.loadingbar{
    height:1em;
    width:100%;
}
.toggleSidebar:hover{
    color:#ccc;   
}
    .sidebar .title{
        margin:.7em;
        color:#83AFC7;
        font-weight:200;
    }
    .sidebar ul{
        padding:0;
        margin:1em;
        margin-top:0;
        max-height:700px;
        overflow-y:auto;
    }
        .sidebar ul li{
            list-style-type:none;
            padding:.4em;
        }
            .sidebar ul li a{
                width:100%;
                height:100%;
                color:#fff;
            }
                .sidebar ul li ul{
                    margin:0;
                    height:0;
                    overflow:hidden;
                    transition:height .5s ease-in-out;
                    -o-transition:height .5s ease-in-out;
                    -moz-transition:height .5s ease-in-out;
                    -webkit-transition:height .5s ease-in-out;
                }
                    .sidebar ul li ul li a{
                        color:#999;   
                    }
.heightlock{
    height:80%;   
    overflow-y:auto;
}
.right{
    float:right;
}
.white{
    color:#fff;
    font-size:10pt;
}
.screenestate{
    height:100%;
    padding:1em;
    width:80%;
    float:right;
    position:relative;
    overflow:hidden;
}
.window{
    width:600px;
    min-width:200px;
    min-height:450px;
    background:#fff;
    box-shadow:2px 2px 5px rgba(0,0,0,.3);
    border:5px solid #4D585E;
    transition: width .5s ease-in-out, height .5s ease-in-out;
    -moz-transition: width .5s ease-in-out, height .5s ease-in-out;
    -o-transition: width .5s ease-in-out, height .5s ease-in-out;
    -webkit-transition: width .5s ease-in-out, height .5s ease-in-out;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}
.inputlabel{
    font-weight:100;
    color:#ccc;
}
.window .menu{
    height:2em;
    background:#4D585E;
}
.onethird{
    width:33%;
    float:left;
    
}
.windowTitle{
    text-align:center;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}
.window button{
    border:none;
    background:transparent;
    color:#fff;
    float:right;
    margin:0;
    padding:3px 5px 3px 5px;
    font-size:15px;
    outline-width: 0px;
}
.window button:hover{
    background:#333;
    color:#fff;
}
.window button:focus{
    outline: none;   
}
.moremenu{
    position:absolute;
    height:1.8em;
    width:100%;
    background:#eee;
    border-bottom:1px solid #ddd;
    padding:.2em;
}
.moremenu ul{
    margin:0;
    padding:0;
	list-style: none;
	position: relative;
	display: inline-table;
}
.moremenu ul li{
    display:inline-block;
    float:left;
}
.moremenu ul li a{
    padding-right:1em;
    padding-left:1em;
    color:#999;
    text-decoration:none;
}

.moremenu ul li:hover{
    background:#ccc;   
}
.moremenu ul li a:hover{
    color:#444;
}
.moremenu ul li:after {
    content: "";
    clear: both;
    display: block;
}
.moremenu ul li > ul li{
    display:none; 
}
.moremenu ul li{
    float:none;   
    position:relative;
}
.moremenu ul li:hover > ul li{
    display:block;   

}

.browserview{
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:100%;
    position:absolute;
    top:5.9em;
    left:0px;
    right:0px;
    bottom:0px;
}
.loading{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#555;
    z-index:40;
    padding-top:20%;
}
.hireme{
    position:absolute;
    top:10px;
    right:10px;
    font-size:40px;
    color:#fff;
}
.tipjar{
    width:300px;
    height:80px;
    position:absolute;
    bottom:10px;
    right:10px;
    background:#4D585E;
    color:#fff;
    padding:1em;
}
.url{
    width:100%;
    height:2.3em;
    background:#eee;
    border-bottom:1px solid #ddd;
    position:relative;
}
.url input{
    width:90%;
    margin-top:-1em;
    background:transparent;
    border:none;
    outline:none;
}
.url input:focus{
    outline:none;   
}
.subloader{
    width:30%;
    height:1em;
    border-radius:0;
    margin:.3em;
    margin-left:0;
    position:absolute;
    top:.3em;
    right:0;
}
.subloader .progress-bar{
    width:100%;
}

