body{
  background-color: #ff0000;
  }
  
h1{
  font-family: Verdana, Arial, Sans-Serif;
  font-size:50px;
  font-color: #ffffff;
}

h1{
  font-family: Verdana, Arial, Sans-Serif;
  font-size:20px;
  font-color: #ffffff;
}