html {
  font-size: 62.5%;
}

body {
  font-family: Courier, "Courier New", monospace;
  font-size: 2em;
  line-height: 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

p {
  margin: 0.5em 0;
}

ol {
  text-align: left;
  margin: 0.5em 0;
}

ol li {
  list-style-type: upper-roman;
  list-style-position: inside;
}

#container {
  padding: 1em;
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#chart {
  width: 960px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  /* border-width: 1px; */
  /* border-color: mediumblue; */
}

#chart .line {
  fill: none;
  stroke: peru;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  width: 1px;
  /* display: none; */
}